@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




body {

	width: 100%;
	margin: 0 auto;
	background: #ffffff;
	color: #555555;
	
}
.header {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	padding: 18px 215px 0 230px;
	height: 770px;
	background-size: 100%;
}
.header .logo {
	display: inline-block;
}
.header .logo .link-logo {
	color: #ffffff;
	font-size: 24px;
	font-family: "Montserrat";
	font-weight: bold;
	line-height: 36px;
	text-decoration: none;
}
.header .main-menu {
	display: inline-block;
	margin-left: 38%;

}
.header .main-menu .menu-list {
	display: flex;
	flex-direction: row;

}
.header .main-menu .menu-list .menu-item .link {
	color: #ffffff;
	font-size: 14px;
	font-family: "Montserrat";
	line-height: 24px;
	text-decoration: none;
	padding: 6px 15px;
	display: block;
	border: 2px solid transparent;
}
.header .main-menu .menu-list .menu-item .link:hover {
	border: 2px #ffffff solid;
	display: block;
}
.header .slang {
	color: #ffffff;
	line-height: 24px;
	padding-top: 205px;
}
.header .slang .title {
	text-align: center;
	font-size: 48px;
	font-family: "Montserrat";
	text-transform: uppercase;
}
.header .slang .text {
	text-align: center;
	font-size: 20px;
	font-family: "Roboto Slab";


}
.header .slang .button {
	text-align: center;
	padding-top: 50px;
}
.header .slang .button .link {
	
	color:#ffffff;
	font-size: 16px;
	font-family: "Montserrat";
	padding: 18px 33px;
	border: 3px #ffffff solid;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
}
.header .slang .button .link:hover {
	color: #c0301c;
	background: #fff;
}
.services-bloсk {
	padding: 100px 215px 90px 230px;

}
.section-name {
	padding-bottom: 70px;
	text-align: center;
}
.section-name .title {
	text-transform: uppercase;
	font-size: 20px;
	font-family: "Montserrat";
	
}
.section-name .title:after {
	content: "";
    width: 50px;
    height: 2px;
    background: #000000;
    display: block;
    margin: 27px auto;
}
.section-name .description {
	font-size: 16px;
	font-family: "Roboto Slab";
	

}
.services-bloсk .services-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.services-bloсk .services-list .services-item {
	display: inline-block;
	padding-right: 35px;
	text-align: center;
}
.services-bloсk .services-list .services-item .icon {
	display: inline-block;

}
.services-bloсk .services-list .services-item:last-of-type {
	padding-right: 0;
}
.services-bloсk .services-list .services-item .symbol-link {
	display: inline-block;
    border: 3px solid #ddd;
    padding: 15px;
    border-radius: 100%;
    background: #fff;

}
.services-bloсk .services-list .services-item .symbol-link .symbol {
    height: 40px;
   
}
.services-bloсk .services-list .services-item .symbol-link-white {
	display: none;
	border: 3px solid #ddd;
    padding: 15px;
    border-radius: 100%;
    background: #c0301c;
}
.services-bloсk .services-list .services-item .symbol-link-white .symbol {
    height: 40px;
}
.services-bloсk .services-list .services-item .icon:hover .symbol-link {
	display: none;
}
.services-bloсk .services-list .services-item .icon:hover .symbol-link-white {
	display: inline-block;
}
.services-bloсk .services-list .services-item .icon .symbol-link-hooks {
	font-weight: 900;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: none;
    color: #c0301c;
    border: 3px solid #ddd;
    border-radius: 100%;
    background: #fff;
    display: block;
    height: 74px;
    width: 74px;
    font-stretch: condensed;
    line-height: 74px;
}
.services-bloсk .services-list .services-item .icon:hover .symbol-link-hooks {
	color: #fff;
	background: #c0301c;
}

.services-bloсk .services-list .services-item .title {
	font-size: 14px;
	font-family: "Montserrat";
	line-height: 24px;
	padding: 30px 0 25px;
	text-align: center;
	text-transform: uppercase;
}
.services-bloсk .services-list .services-item .text {
	font-size: 14px;
	font-family: "Roboto Slab";
	line-height: 24px;
	text-align: center;
}
.description-organization {
	padding: 100px 215px 90px 230px;
	position: relative;
}
.description-organization .about-organization {
	display: flex;
	flex-direction: row;
	padding-bottom: 72px;
}
.description-organization .about-organization .text {
	font-size: 14px;
	font-family: "Roboto Slab";
	line-height: 24px;

}
.workers-list {
	display: flex;
	justify-content: space-between;
}
}
.workers-list > .item {
	display: inline-block;
}
.workers-list > .item .photo  {
	position: relative;
	width: 263px;
	height: 250px;
}
.workers-list > .item .photo .saturation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	transition: all ease 0.5s;
	display: block;
}

.workers-list > .item .social-list {
	position: absolute;
	bottom: 40px;
	display: none;
	transition: all ease 0.5s;
	transform: translate(-50%);
	left: 50%;

}
.workers-list > .item .social-list .link {
	padding: 5px;
	display: block;
	margin-right: 5px;
	
}

.workers-list > .item .social-list .link:last-of-type {
	margin-right: 0; 
}
.workers-list > .item:hover .photo .saturation {
	opacity: 0.3;
}

.workers-list > .item:hover .social-list {
	display: flex;
}
.workers-list > .item .social-list .link:hover {
	background-color: #c0301c;
}
.workers-list > .item .data {
	padding-top: 20px;
}
.workers-list > .item .data .name {
	display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 24px;
    text-align: center;
    font-weight: 600;
}
.workers-list > .item .data .position {
    display: block;
    font-size: 13px;
    font-family: "Roboto Slab";
    line-height: 24px;
    text-align: center;
}
.description-organization .arrow-right,
.description-organization .arrow-left {
	padding: 12px;
	background: #8f8f8f;
	display: inline-block;

}
.description-organization .arrow-right {
	position: absolute;
	right: 215px;
    bottom: 260px;
}
.description-organization .arrow-left {
	position: absolute;
	left: 230px;
	bottom: 260px;
}
.description-organization .arrow-right:hover,
.description-organization .arrow-left:hover {
	background: #c0301c;
}
.our-works {
	padding: 100px 215px 90px 230px;

}
.our-works .menu-works {

}
.our-works .menu-works .works-list {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
    margin: 0 auto;
}
.our-works .menu-works .works-list .link {
	text-decoration: none;
	font-family: "Roboto Slab";
	font-size: 16px;
	color:  #555555;
}
.our-works .menu-works .works-list .link:hover {
	color: #c0301c;
}
.our-works .work-levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.our-works .work-levels .level {
	margin-bottom: 30px;
	position: relative;
}
.our-works .work-levels .level .saturation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #c0301c;
	opacity: 0;
	transition: all ease 0.5s;
	display: block;
}
.our-works .work-levels .level:hover .saturation {
	opacity: 0.6;
}
.our-works .work-levels .level .continue {
	position: absolute;
	left: 50%;
    transform: translate(-50%);
    bottom: 95px;
    color: #fff;
    display: none;
}
.our-works .work-levels .level:hover .continue {
	display: block;
}
.our-works .work-levels .level .continue .title {
	font-size: 18px;
	font-family: "Montserrat";
	line-height: 24px;
}
.our-works .work-levels .level .continue .text {
	font-size: 12px;
	font-family: "Roboto Slab";
	display: block;
	text-align: center;
}
.our-works .work-levels .level .continue .link {
	display: block;
    text-align: center;
    margin-top: 30px;
    padding: 15px 20px;
    text-transform: uppercase;
    background: #fff;
    color: #c0301c;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto Slab";
}
.reviews {
	background-image: url(../images/photo5.jpg);
	height: 365px;
	width: 100%;
	position: relative;
	background-size: 100%;
}
.reviews .saturation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #c0301c;
	opacity: 0.6;
	transition: all ease 0.5s;
	display: block;
	
}

.reviews .review {
    text-align: center;
    display: block;
    padding: 85px 0;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);


}
.reviews .review .text {
    display: block;
    font-size: 30px;
    font-family: "Roboto Slab";
    line-height: 44px;
}
.reviews .review .link {
	display: inline-block;
	margin-top: 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Roboto Slab";
	padding: 15px 30px;
	border: 3px solid #fff;
	color: #fff;
}
.reviews .review .link:hover {
	color: #c0301c;
	background: #fff;

}
.news {
	padding: 100px 215px 90px 230px;
}
.news .new {
	display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.news .new .photo {
	margin-right:  40px;
}
.news .new .description:hover .title,
.news .new .description:hover .allotment,
.news .new .description:hover .link {
	color: #c0301c;
}
.news .new .description .date {
	display: inline-block;
    padding: 20px;
    border: 2px solid;
    text-align: center;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}
.news .new .description .date .number {
	display: block;
	font-size: 24px;
	font-family: "Montserrat";
	line-height: 20px;
	font-weight: 600;
}
.news .new .description .date .month {
	display: block;
	font-size: 14px;
	font-family: "Montserrat";
	font-weight: 600;
	text-transform: uppercase;
}
.news .new .description .name .title {
	display: block;
	font-size: 16px;
	font-family: "Montserrat";
	line-height: 24px;
	font-weight: 600;
}
.news .new .description .name .author {
	display: block;
	font-size: 13px;
	font-family: "Roboto Slab";
	line-height: 24px;
	font-style: italic;
	padding-top: 10px;
}
.news .new .description .text-new {
	font-size: 14px;
	font-family: "Roboto Slab";
	line-height: 24px;
	clear: left;
	padding-bottom: 20px;
}
.news .new .description .link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 24px;
	font-weight: 900;
	color: #555555;

}
.brands {
	background: #f8f8f8;
	padding: 110px 215px 100px 230px;
}
.brands .brand-symbols {
	display: flex;
    height: 30px;
    justify-content: space-around;
    margin-bottom: 75px;
}
.brands .brand-symbols .photo {
	height: 55px;
    line-height: 55px
}
.brands .quote {
	text-align: center;
}
.brands .quote .text {
	font-size: 18px;
	font-family: "Roboto Slab";
	line-height: 30px;
	padding: 0 175px;
	font-style: italic;
}
.brands .quote .text:after,
.brands .quote .text:before {
	content:
}
.brands .quote .author {
	font-size: 20px;
	font-family: "Roboto Slab";
	line-height: 30px;
	display: block;
	padding-top: 10px;
}
.brands .digest-block {
	margin-top: 40px;
	text-align: center;
}
.brands .digest-block .digest {
    border-radius: 100%;
    padding: 6px;
    display: inline-block;
    cursor: pointer;
    background: #dddddd;
}
.brands .digest-block .active {
    background: #c0301c;
}
.contact {
	padding: 100px 215px 90px 230px;
	
}
.contact .our-contacts {
	display: block;
	width: 250px;
	float: left;
	margin-right: 150px;
}
.contact .our-contacts .address {
	display: inline-block;
	width: 240px;
	margin-bottom: 35px;
}
.contact .our-contacts .address .symbol {
	float: left;
    padding-bottom: 50px;
	margin-right: 15px;
	margin-top: 10px;
}
.contact .our-contacts .address .title {
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Montserrat";

}
.contact .our-contacts .address .data {
	font-size: 12px;
	font-family: "Roboto Slab";

}
.contact .our-contacts .address .data .text {
	display: block;
	font-size: 12px;
	font-family: "Roboto Slab";

}
.contact .our-contacts .telephone {
	display: inline-block;
	width: 210px;
	margin-bottom: 35px;
}
.contact .our-contacts .telephone .symbol {
	float: left;
    padding-bottom: 50px;
	margin-right: 15px;
	margin-top: 10px;
}
.contact .our-contacts .telephone .title {
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Montserrat";
}
.contact .our-contacts .telephone .data .link {
	color: #555555;
	text-decoration: none;
	font-size: 12px;
	font-family: "Roboto Slab";
}
.contact .our-contacts .email {
	display: inline-block;
	margin-bottom: 35px;		

}
.contact .our-contacts .email .symbol {
	float: left;
    padding-bottom: 50px;
	margin-right: 15px;
	margin-top: 10px;
}
.contact .our-contacts .email .title {
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Montserrat";
}
.contact .our-contacts .email .data .link {
	color: #555555;
	text-decoration: none;
	font-size: 12px;
	font-family: "Roboto Slab";
}
.latter {
	display: inline-block;
	width: 755px;

}
#formSubscribe {
	display: inline-block;
}
#formSubscribe .form {
	width: 350px;
	height: 40px;
	border: 2px solid #555555;
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 20px;
	
}
#formSubscribe .label {
	margin: 10px;
    width: 90%;
    font-size: 12px;
    outline: none;
	border: none;
	font-family: "Roboto Slab";
	text-transform: uppercase;

}

#formSubscribe .form-latter {
	width: 728px;
    border: 2px solid;
	height: 100px;
	margin-top: 15px;
}
#formSubscribe .form-latter .label {
	margin: 10px;
    width: 96%;
    /* height: 79%; */
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 12px;
}
#formSubscribe .send-button {
	border: 2px solid;
	margin-top: 20px;
	display: inline-block;
}
#formSubscribe .send-button .button {
	border: none;
    background: #ffffff;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
    line-height: 20px;
    outline: none;
    cursor: pointer;
    padding: 15px 40px;
 
}
#formSubscribe  .text {
	font-size: 12px;
	font-family: "Roboto Slab";
	line-height: 20px;
	display: inline-block;
	margin-left: 40px;
}
#formSubscribe  .text:before {
	content: "*";
	color: #c0301c;
	margin-right: 5px;

}
.footer {
	padding: 100px 215px 5px 230px;
	background: #c0301c;
	color: #ffffff; 
	
}
.footer .section-name {
	padding-bottom: 70px;
	text-align: center;
}
.footer .section-name .title {
	display: inline-block;
	height: 35px;
	margin: 0 auto;
	background-image: url(../images/twitter-white.png);
	width: 159px;
	background-repeat: space;
}
.footer .section-name .title:after {
	content: "";
    width: 50px;
    height: 2px;
    background: #fff;
    display: block;
    margin: 64px auto;
}
.footer .section-name .copyright {
	font-size: 12px;
	font-family: "Roboto Slab";
	line-height: 20px;
	text-transform: uppercase;
	margin-top: 54px;
